pyannote-audio>=4.0.4 --no-deps


# Unfortunately this lib is very heavy with deps
# and causing issues with the comfy envrionment
# I add --no-deps, 
# you can remove the --no-deps if you like
# but just now many libs are pulled in

